[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/vlada/homework_24
ExecStart=/home/vlada/homework_24/venv/bin/gunicorn flask:app -b 0.0.0.0:8080

[Install]
WantedBy=multi-user.target